html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #131313;
  color: #cae9b3;
  margin-bottom: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pixel-font {
  font-family: 'Press Start 2P', cursive;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-toggle:checked + .dropbtn + .dropdown {
  display: block;
}

.hide-me {
  display: none;
}