#home-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
}

#home-page-image {
  position: absolute;
  top: 10vh;
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 300px;
  margin: 15px auto;
}
