#home-page {
  display: flex;      
  justify-content: center;
  align-items: flex-start;
  height: 100vh;     
  width: 100%;
  padding-top: 10vh;
  margin: 0;
}

#home-page-image {
  display: block;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  height: 700px;
  margin: 15px;
}
