.gallery-thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  margin: 20px auto;
}

.gallery-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.paragraph-format {
  white-space: pre-line;
  text-align: justify;
  word-wrap: break-word;
}

.input-field {
  width: 260px;
  height: 50px;
  margin: 10px auto;
}

/* Login Page */
#ingressus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
  padding: 10px;
  background-color: #000;
  border-radius: 10px;
  width: 100%;
  max-width: 410px;
}

#ingressus img {
  width: 100%;
  max-width: 390px;;
  min-width: 260px;
  height: auto;
}

.login-rune {
  display: block;
  width: 200px;
  height: 40px;
  margin: 10px auto;
}