/* Index */

#home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 5%;
}

#home-page-image img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  #home-page-image img {
      max-width: 500px;
  }
}

/* Gallery stuff */

.gallery-thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  margin: 20px auto;
}

.gallery-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative; 
}

.paragraph-format {
  white-space: pre-line;
  text-align: justify;
  word-wrap: break-word;
}

.input-field {
  width: 260px;
  height: 50px;
  margin: 10px auto;
}

.echo-viewer-data-gallery {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100vh;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.circular-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev.circular-control {
  left: 10px;
}

.carousel-control-next.circular-control {
  right: 10px;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
  display: none;  
}

.carousel-control-prev.circular-control::before {
  content: '<';
}

.carousel-control-next.circular-control::before {
  content: '>';
}

/* Admin toggles */
.menu-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 0 5px;
  gap: 10px;
}

.menu-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.dot {
  width: 5px;
  height: 5px;
}

.x-part {
  width: 2px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.delete-button .x-part:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.delete-button .x-part:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.dropdown {
  display: none;
  margin: auto;
  min-width: 160px;
  z-index: 1;
}

.dropdown form {
  padding: 10px;
}

.menu-form-group {
  margin-bottom: 10px;
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
}

.menu-toggle {
  display: none;
}

.dropbtn {
  display: inline-block;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.close-gallery {
  position: absolute; /* or relative */
  top: 10px;
  right: 10px;
  z-index: 200;
}


/* Login Page */
#ingressus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
  padding: 10px;
  background-color: #000;
  border-radius: 10px;
  width: 100%;
  max-width: 410px;
}

#ingressus img {
  width: 100%;
  max-width: 390px;;
  min-width: 260px;
  height: auto;
}

.login-rune {
  display: block;
  width: 200px;
  height: 40px;
  margin: 10px auto;
}