.gallery-chamber-title h1 {
  font-size: 2em;
  text-align: center;
  margin: 10px;
}

.input-field {
  text-align: center;
  font-size: 1.8em;
}

/* Admin toggles */

.dot {
  background-color: rgb(185, 254, 255);
  border-radius: 50%;
}

.menu-button {
  background-color: #000;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.x-part {
  background-color: #f6b265;
}

.dropdown-container {
  text-align: center;
}

.dropbtn {
  background-color: #000;
  color: rgb(185, 254, 255);
  padding: 16px;
  font-size: 16px;
  border: solid 1px rgb(185, 254, 255);
  border-radius: 10px;
  cursor: pointer;
}

.dropdown {
  background-color: #000;
  margin: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Login Page */

#ingressus > p {
  font-size: 1.3em;
  color: #ffd6a6;
}

.login-rune {
  border-radius: 10px;
  border: 2px solid #8d7861;
  background-color: #000;
  color: #ffd6a6;
}


/*  ------------------ */

