.gallery-chamber-title h1 {
  font-size: 2em;
  text-align: center;
  margin: 10px;
}

.input-field {
  text-align: center;
  font-size: 1.8em;
}

/* Login Page */

#ingressus > p {
  font-size: 1.3em;
  color: #ffd6a6;
}

.login-rune {
  border-radius: 10px;
  border: 2px solid #8d7861;
  background-color: #000;
  color: #ffd6a6;
}