<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="creations by scott falbo" />
    <meta name="keywords" content="artwork, tattoos, seattle, wizard" />
    <meta name="author" content="Scott Falbo" />
<!--    <link rel="canonical" href="https://www.example.com/your-page-url" /> <!-- Canonical URL for SEO -->
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />
</head>

<body>
    @if (Context.Request.Path != "/")
    {
    <header>
        <nav class="navbar navbar-expand-xx1 navbar-toggleable-xx1 navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/ArcaneIndex">Portfolio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-xx1-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/ArcaneIndex">Grimoires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Grimoires/FleshRites">Flesh Rites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Grimoires/Illustrations">Illustrations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Grimoires/CabinetOfMiscellany">Cabinet of Miscellany</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Grimoires/BinaryConjuring">Binary Conjuring</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Grimoires/TelekineticTether">Telekinetic Tether</a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
    </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (Context.Request.Path != "/")
    {
    <footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2023 - Portfolio - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>