@page
@model Portfolio.Pages.ArcaneIndexModel
@{
    ViewData["Title"] = "Grimoire Selection";
}

<section id="menu-page">
    <ul>
        <li><a asp-page="/Grimoires/FleshRites">Flesh Rites</a></li>
        <li><a asp-page="/Grimoires/Illustrations">Illustrations</a></li>
        <li><a asp-page="/Grimoires/CabinetOfMiscellany">Cabinet of Miscellany</a></li>
        <li><a asp-page="/Grimoires/BinaryConjuring">Binary Conjuring</a></li>
        <li><a asp-page="/Grimoires/Chronicle">Chronicle</a></li>
    </ul>
</section>
