@page
@model Portfolio.Pages.ArcaneIndexModel
@{
    ViewData["Title"] = "Grimoire Selection";
}

<section id="menu-page">
    <ul class="pentagram-menu">
        <li class="pentagram-point"><a class="pentagram-link" asp-page="/Grimoires/FleshRites">Flesh Rites</a></li>
        <li class="pentagram-point"><a class="pentagram-link" asp-page="/Grimoires/Illustrations">Illustrations</a></li>
        <li class="pentagram-point"><a class="pentagram-link" asp-page="/Grimoires/CabinetOfMiscellany">Cabinet of Miscellany</a></li>
        <li class="pentagram-point"><a class="pentagram-link" asp-page="/Grimoires/BinaryConjuring">Binary Conjuring</a></li>
        <li class="pentagram-point"><a class="pentagram-link" asp-page="/Grimoires/PuzzleBox">PuzzleBox</a></li>
    </ul>
    <ul class="social-menu">
        <li>Instagram</li>
        <li>GitHub</li>
        <li>LinkedIn</li>
    </ul> 
</section>
