@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="home-page">
    <a id="home-page-image" href="ArcaneIndex" aria-label="Entry Page, Click to Enter">
        <img src="https://placehold.co/500x888" alttext="entry image"/>
    </a>
</section>


