@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="home-page">
    <a id="home-page-image" href="ArcaneIndex"><img src="https://placehold.co/500x700" alt="Entry Image, click to enter"></a>
</section>
