@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="home-page">
    <a id="home-page-image" href="ArcaneIndex" aria-label="Entry Image, Click to Enter" style="background: url('@Model.ImageUrl')"></a>
</section>

