@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="home-page">
    <a id="home-page-image" href="ArcaneIndex" aria-label="Entry Page, Click to Enter" 
        style="background: url('@Model.ImageUrl') no-repeat center center; background-size: contain;"></a>
</section>


