@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="home-page">
    <a id="home-page-image" href="ArcaneIndex" aria-label="Description of the image" style="background: url('@Model.ImageUrl')"></a>
</section>

