@page
@model Portfolio.Pages.SecretEntranceModel
@{
    ViewData["Title"] = "It's a Secret to Everybody";
}

<div id="ingressus">
    <p class="pixel-font">It's a Secret<br />to Everybody</p>
    <img src="./images/secret.png" alttext="zelda easter egg, grumble grumble"/>
    <section>
        <div>
        </div>
        <form method="post">
            <div><input class="input-field" type="text" name="username" placeholder="username" required /></div>
            <div><input class="input-field" type="password" name="password" placeholder="password" required/></div>
            <div><input class="login-rune pixel-font open-nexa-pulse" type="submit" value="login" /></div>
        </form>
    </section>
</div>
