@page
@model Portfolio.Pages.SecretEntranceModel
@{
    ViewData["Title"] = "It's a Secret to Everybody";
}

<div id="ingressus" class="page-container">
    <div class="container-one">
        login or register
    </div>

    <div class="container-two">
    </div>
    <form method="post">
        <div><input type="text" name="username" placeholder="username" required /></div>
        <div><input type="password" name="password" placeholder="password" required /></div>
        <div><input type="submit" value="login" /></div>
    </form>
</div>
