@page
@model Portfolio.Pages.Grimoires.FleshRitesModel
@{
    ViewData["Title"] = "Flesh Rites";
}

<section id="flesh-rites">
    <div class="gallery-chamber-title">
        <h1 class="gallery-chamber-title">Flesh Rites</h1>
    </div>

    <div class="gallery-chamber-synopsis">
        <p class="paragraph-format">
            Mystica arcanae vocibus resonant, inter sidera lunaque pervagantur. Obscuritas noctis revelat arcanum, secretum veritatis occultum. In silvis umbrosis, oraculum susurrat, mysterium naturae evocans.
        </p>
    </div>

    <div class="gallery-thumbnail-container">
        @foreach (var fleshRite in Model.FleshRites)
        {
            <div class="gallery-thumbnail">
                <img src="@fleshRite.ThumbnailUrl" />
                @if (Model.IsWizardOverLord)
                {
                    <div class="menu-buttons-container">
                        <div class="menu-button delete-button" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">
                            <div class="x-part"></div>
                            <div class="x-part"></div>
                        </div>

                        <div class="menu-button edit-button">
                            <div class="dots">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Shatter this Echo?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Preserve</button>
                                    <form asp-page-handler="ShatterEcho" method="post" enctype="form-data">
                                        <input type="hidden" name="id" value="@fleshRite.Id" />
                                        <input type="hidden" name="partitionKey" value="@fleshRite.PartitionKey" />
                                        <button type="submit" class="btn btn-danger">Shatter</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>

    @if (Model.IsWizardOverLord)
    {
        <div class="dropdown-container">
            <input type="checkbox" id="menuToggle" class="menu-toggle">
            <label class="dropbtn" for="menuToggle">Imbue Echo</label>
            <div class="dropdown">
                <form asp-page-handler="ImbueEcho" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="image">Upload image(s):</label>
                        <input name="files" type="file" multiple="multiple" accept="image/*" />
                    </div>
                    <div>
                        <label for="name">Name (Optional):</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div>
                        <label for="altText">Alt Text (Optional):</label>
                        <input type="text" name="altText" id="altText" />
                    </div>
                    <div>
                        <input type="submit" value="Submit" />
                    </div>
                </form>

            </div>
        </div>
    }

    <div class="gallery-chamber-synopsis">
        <p class="paragraph-format">
            Mystica arcanae vocibus resonant, inter sidera lunaque pervagantur. Obscuritas noctis revelat arcanum, secretum veritatis occultum. In silvis umbrosis, oraculum susurrat, mysterium naturae evocans.
            <br />
            Libri antiqui, pleni incantationum et conjurationum, in bibliotheca vetusta reperiuntur. Magi et sapientes, stellis ducuntur, fata hominum scribunt. Speculum magicae, imagines obscuras ostendit, futurum nebulosum.
            <br />
            Spiritus et spectra, per noctem vagantur, humanos terrent. Potestates tenebrosae, magicae vires occultant, mundum subterfugium regunt. Alchimia et hermetica, scientia et ars conjuncta, via ad illuminationem.
        </p>
    </div>
</section>


