@page
@model Portfolio.Pages.Grimoires.FleshRitesModel
@{
    ViewData["Title"] = "Flesh Rites";
}

<section id="flesh-rites">
    <div class="gallery-chamber-title">
        <h1 class="gallery-chamber-title">Flesh Rites</h1>
    </div>

    <div class="gallery-chamber-synopsis">
        <p class="paragraph-format">
            Mystica arcanae vocibus resonant, inter sidera lunaque pervagantur. Obscuritas noctis revelat arcanum, secretum veritatis occultum. In silvis umbrosis, oraculum susurrat, mysterium naturae evocans.
        </p>
    </div>

    <div class="gallery-thumbnail-container">
        @foreach (var fleshRite in Model.FleshRites)
        {
            <div class="gallery-thumbnail">
                <img src="@fleshRite.ThumbnailUrl" />
            </div>
        }
    </div>

    <div class="gallery-chamber-synopsis">
        <p class="paragraph-format">
            Mystica arcanae vocibus resonant, inter sidera lunaque pervagantur. Obscuritas noctis revelat arcanum, secretum veritatis occultum. In silvis umbrosis, oraculum susurrat, mysterium naturae evocans.
            <br />
            Libri antiqui, pleni incantationum et conjurationum, in bibliotheca vetusta reperiuntur. Magi et sapientes, stellis ducuntur, fata hominum scribunt. Speculum magicae, imagines obscuras ostendit, futurum nebulosum.
            <br />
            Spiritus et spectra, per noctem vagantur, humanos terrent. Potestates tenebrosae, magicae vires occultant, mundum subterfugium regunt. Alchimia et hermetica, scientia et ars conjuncta, via ad illuminationem.
        </p>
    </div>
</section>
